@model template.bl.models.departmentvm;
@{
    ViewData["Title"] =  @SharedLocalizer["create"];
    Layout = "~/Views/layout/MainLayout.cshtml";
}
<a asp-action="Index" asp-controller="DepartmentController1" class="btn btn-success"> >@SharedLocalizer["btd"]</a>
<br />

<h2>@SharedLocalizer["create"]</h2>


<br />
<form asp-controller="DepartmentController1" asp-action="create" class="form-group">
    <div asp-validation-summary="All"></div>

    <label asp-for="departmentname"> @SharedLocalizer["departmentname"] </label>
    <input type="text" class="form-control" asp-for="departmentname">
    <span asp-validation-for="departmentname" class="text-danger"></span>
    <br />

    <label asp-for="departmentcode"> @SharedLocalizer["departmentcode"] </label>
    <input type="text" class="form-control" asp-for="departmentcode">
    <span asp-validation-for="departmentcode" class="text-danger"></span>

    <br />

    <label asp-for="departmentsize"> @SharedLocalizer["departmentsize"]  </label>
    <input type="text" class="form-control" asp-for="departmentsize">
    <span asp-validation-for="departmentsize" class="text-danger"></span>

    <br />

    <center>
        <input type=@SharedLocalizer["submit"] value="save" class="btn btn-primary" />
        <input type=@SharedLocalizer["reset"] value="reset" class="btn btn-danger" />
    </center>

</form>

@section microsoftvali
{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}